#head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: .5em;
}

#head > div {
    font-size: 120%;
    font-weight: bold;
}

input {
    border: solid 1px grey;
    outline-color: grey;
}

button {
    background: transparent;
    border: solid 1px grey;
    outline-color: grey;
}

button:active {
    background: #8888;
}

#input-url {
    display: none;
}

.info {
    font-size: 80%;
}

.info > span {
    display: inline-block;
    width: 20%;
}

table {
    margin-top: .5em;
    border: solid 1px grey;
    max-height: 85vh;
    overflow-y: auto;
    border-collapse: collapse;
    width: 36em;
    caption-side: bottom;
}

table tr:first-child {
    background: #8888;
}

table tr:first-child th:first-child {
    width: 22em;
}

th, td {
    padding: .3em;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
}

tr[tabindex="0"] {
    cursor: pointer
}

tr:hover {
    background: #09F3;
}

tr:focus {
    background: #09F8;
    outline: transparent
}

tr:focus td {
    white-space: initial;
    overflow-wrap: anywhere;
}

.progress {
    height: .1em;
    transition: width 1s;
}

#settings {
    display: none;
    width: 36em;
    margin-top: .5em;
    border: solid 1px grey;
}

select {
    border: solid 1px grey;
    background: transparent;
}

select:focus {
    outline: transparent
}

textarea {
    width: 96%;
    height: 10em;
}
