
/************* MAIN *************/

html {
    width: 30em;
}

/************* HEADER *************/
#head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: .5em;
}

#head > div {
    font-size: 120%;
    font-weight: bold;
}

/****************** TOOLBAR ****************/
input {
    border: solid 1px grey;
    outline-color: grey;
}

button {
    background: transparent;
    border: solid 1px grey;
    outline-color: grey;
}

button:active {
    background: #8888;
}

#input-url {
    display: none;
}

/****************** TABLE ****************/

table {
    table-layout: fixed;
    width: 100%;
    margin-top: .5em;
    border: solid 1px grey;
    max-height: 85vh;
    overflow-y: auto;
    border-collapse: collapse;
    caption-side: bottom;
}

thead {
    background: #8888;
}

col:first-child {
    width: 6%;
}

col:nth-child(2) {
    width: 54%;
}

col:nth-child(3) {
    width: 20%;
}

col:last-child {
    width: 20%;
}

th, td {
    padding: .4em .3em;
    max-width: 0;
}

tbody tr {
    cursor: pointer;
    height: 1em;
}

tbody td {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

tr:focus td {
    overflow-wrap: anywhere;
    white-space: initial;
    overflow-x: initial
}

.progress > div {
    margin-top: .3em;
    height: .1em;
    transition: width 1s;
}

.progress > span {
    display: inline-block;
    font-size: 80%;
    width: 20%;
}

tbody tr:hover {
    background: #09F3;
}

tbody tr:focus {
    background: #09F8;
    outline: transparent
}

#settings {
    display: none;
    width: 100%;
    margin-top: .5em;
    border: solid 1px grey;
}

select {
    border: solid 1px grey;
    background: transparent;
}

select:focus {
    outline: transparent
}

textarea {
    width: 100%;
    height: 10em;
}
