#head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: .5em;
}

#head > div {
    font-size: 120%;
    font-weight: bold;
}

input {
    border: solid 1px grey;
    outline-color: grey;
}

button {
    background: transparent;
    border: solid 1px grey;
    outline-color: grey;
}

button:active {
    background: #8888;
}

#input-url {
    display: none;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 80%;
    margin-right: 5em;
}

#list {
    margin-top: .5em;
    border: solid 1px grey;
    max-height: 85vh;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 36em;
    caption-side: bottom;
}

th, td {
    padding: .3em;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
}

tr[tabindex="0"] {
    cursor: pointer
}

tr:hover {
    background: #09F3;
}

tr:focus {
    background: #09F8;
    outline: transparent
}

tr:focus td {
    white-space: initial;
    overflow-wrap: anywhere;
}

.progress {
    height: .1em;
}

#tbl-head {
    background: #8888;
}

#tbl-head #fname {
    width: 22em;
}

#settings {
    display: none;
}
